html, body{
		width: 100%;
		height: 100%;
}
#container{


}
#background{
	position: relative;
	z-index: -99999;
}
#jump {
	position: absolute;
	z-index: 999;
	top: 10000000px;
	color: white;
}
#headerTitle{
	
	z-index: 99999;
}

/*Nav Bar*/
#navBar {
	position: absolute;
	top:3%;
	right:5%;
}
#navBar ul{
	position: absolute;
	top: 85px;
	left: -35px;
	
}

/*Nav Bar Hover*/
#navBarHover ul li {
	list-style-type: none;
	background-color: red;
	margin: 0px 0px 0px 0px;
	
}







/*CSS Hamburger Animated Menu Button*/
/*position*/


.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  border: 6px solid #1b01fe;
  z-index: 99;
}

.c-hamburger:focus {
  outline: none;
}
/*idk*/
.c-hamburger span {
  display: block;
  position: absolute;
  top: 30px;
  left: 18px;
  right: 18px;
  height: 7px;
  background: #1b01fe;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #1b01fe;
  content: "";
}

.c-hamburger span::before {
  top: -17px;
  
}

.c-hamburger span::after {
  bottom: -17px;
}
/*make the x*/
.c-hamburger--htx {
  background-color: #000000;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #000000;
  border-radius: 180px;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}









/*Background*/
#background img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}